/*
====================================================================================================================================================================
                                                    Start Global Properties 
====================================================================================================================================================================
*/

/*
:root {
    --nav-cinta: rgb(0, 0, 0);
    --primario: rgb(255, 102, 196);
    --precio: rgb(255, 0, 0);
    --letras: rgb(255, 255, 255);
}
*/
body {
	font-size: 18;
    font-family: Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
	position:fixed;
    background:rgba(25, 22, 120,0.7);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
	width:100%;
	height:75px;
	
}
.navegador {
    display: flex;
    align-items: center;
}
.navegador a:hover {
    color: rgba(255, 255, 255,1.0);
    border-bottom: 1px solid rgba(255, 255, 255,1.0);
}

nav {
    display: inline-block;
    margin-left: 400px;
    margin-top: 20px;
}

a {
	color: rgba(255, 255, 255,1.0);
	text-decoration: none;
	font-weight: 2em;
	font-family: Arial;
	margin-right: 10px;
    padding: 10px;
}

a:hover {
    color: black;
    background: rgba(147,217,134,0.3);;  
    padding: 5px;
}

/*seccion AboutUs*/
.aboutUs { 
    margin: 0 auto;
    position: relative;
	background-image: url('../images/aus.jpg');
    top: 76px;
	width:100%;
	height:580px;
	opacity: 1.0;
	background-position: center;
    background-size: cover;
    z-index: 1;
}

/**/
.aboutUs h1 {
    /*color: rgba(255, 255, 255,1.0);*/
    font-size: 100px;
    font-family: Arial, cursive;
    position: relative;
    left: 75px;
    top: 0px;
}

.aboutUs h2 {
    color: rgba(255, 255, 255,1.0);
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
    position: absolute;
    left: 75px;
    top: 250px;
}
/**/


.ajuste {
    padding-top: 80px;
}


.nombreSecciones {
    font-size: 60px;
    font-family: Arial, cursive;
    text-transform: capitalize;
    text-align: center;
    color: var(--primario);
}

header .contenedor{
    height: 100%;
}

.subContenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px 25px 0;
    padding: 25px 25px 0;
}

.subContenedor li {
    list-style: none;
    text-transform: capitalize;
}

.cajasImagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px 0 rgba(25, 22, 120, 1.0);
    border-radius: 10px;
    transition: transfom .1s;
}

/*
.cajasImagen:hover {
    transform: scale(1.05);
}
*/

.tamImagen {
    width: 200px;
    height: 200px;
}

/*
====================================================================================================================================================================
                                                    Images Properties 
====================================================================================================================================================================*/
img#logo { 
    margin-left: 50px;
    margin-right: 100px;
    position: absolute;
    top: 5px;
    left: 0;
}









button {
    width: 30%;
    height: 50px;
    background: #172035;
    color: white;
    font-size: 2em;
    border:none;
}

button:hover {
    background: #09568d;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 2em;
}

/*
====================================================================================================================================================================
                                                    End Global Properties 
====================================================================================================================================================================
*/