/*
====================================================================================================================================================================
                                                    Start Slideshow Properties 
====================================================================================================================================================================
*/

section#content {
    text-align: center;
    color: white;
    position: absolute;
    top: 100px;
    left: 250px;
}

img#slide {
    width: 100%;
    height: 650px;
}

/*
====================================================================================================================================================================
                                                    End Slideshow Properties 
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start Featured Courses Properties 
====================================================================================================================================================================
*/

div.Bloque1S2 {
    text-align: center;
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 940px;
    left: 75px;
}

div.Bloque2S2 {
    text-align: center;
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 940px;
    left: 550px;
}

div.Bloque3S2 {
    text-align: center;
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 940px;
    left: 1050px;
}

h6 {
	font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Featured Courses Properties 
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start About Section Properties 
====================================================================================================================================================================
*/

section#about {
    width: 100%;
    height: 509px;
    background: #252525;
    position: absolute;
    top: 1150px;
    left: 0;
}

div.about {
	color: white;
	text-align: center;
}

div.proyectos {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 50px;
}

div.servicios {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 400px;
} 

div.algomas {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 751px;
}

div.otracosa {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 1101px;
}

/*
====================================================================================================================================================================
                                                    End About Section Properties 
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Learn Tech Section Properties 
====================================================================================================================================================================
*/

div.learntechnow {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 1800px;
    left: 150px;
}

div.learntechpodcast {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 1800px;
    left: 600px;
}

div.learntechblog {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 1800px;
    left: 1050px;
}

.h1lt {

    position: absolute;
    top: 1650px;
    left: 614px;

}

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties 
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 104px;
    background: #172035;
    position: absolute;
    top: 2500px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/

